@model Proyecto_Final_1.Models.departamentos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>departamentos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo_Dep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo_Dep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Dep }) |
    @Html.ActionLink("Back to List", "Index")
</p>
