@model Proyecto_Final_1.Models.licencias

@{
    ViewBag.Title = "Details";
}

<h2>Licencias</h2>

<div>
    <h4>Detalle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaDesde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDesde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaHasta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaHasta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.empleados.Codigo_emp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empleados.Codigo_emp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_licen }) |
    @Html.ActionLink("Back to List", "Index")
</p>
