@model Proyecto_Final_1.Models.empleados

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>empleados</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo_emp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo_emp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Ingreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Ingreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cargos.CargosN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cargos.CargosN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cargos1.CargosN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cargos1.CargosN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cargos2.CargosN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cargos2.CargosN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.departamentos.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departamentos.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Em }) |
    @Html.ActionLink("Back to List", "Index")
</p>
