@model IEnumerable<Proyecto_Final_1.Models.empleados>

@{
    ViewBag.Title = "EntradaEmpleado";
}

<h2>Entrada Empleado</h2>
@using (Html.BeginForm("EntradaEmpleado", "Empleados"))
{
    <p>
        Buscar Empleados por mes de ingreso.: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table table-responsive table-sm">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo_emp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Ingreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cargos.CargosN)
        </th>
        @Html.DisplayNameFor(model => model.departamentos.Nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo_emp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Ingreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cargos.CargosN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.departamentos.Nombre)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id_Em }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id_Em })
            </td>
        </tr>
    }

</table>
