@model IEnumerable<Proyecto_Final_1.Models.permisos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaDesde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaHasta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.empleados.Codigo_emp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDesde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaHasta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comentario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.empleados.Codigo_emp)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Per }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Per }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Per })
        </td>
    </tr>
}

</table>
